body {
    margin: 0 auto;
    max-width: 1200px;
}

header {
margin: 20px 0 20px 0;
display: block;
}
    
header :nth-child(n+2) {
margin-left: 10%;
text-transform: uppercase;
text-decoration: none;
color: black;
}

.hov:hover{
background-color: lightgray;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
}